@mixin purple {
  background-color: var(--purple);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--purple);
}

.custom-button {
  opacity: 1;
  min-width: 165px;
  width: auto;
  height: 50px;
  line-height: 100%;
  padding: 0 18px;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: var(--pink);
  border-radius: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 200ms ease-in-out;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--pink);

  &:hover {
    transform: scale(1.03);
  }

  &.unselected {
    @include purple();
  }

  &.selected {
    background-color: var(--pink);
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--pink);
  }

  &.hide {
    opacity: 0;
  }

  &.disabled {
    @include purple();
    pointer-events: none;
    color: var(--dark-purple);
  }

}
