.chart-bar {
	width: 100%;
	height: 46px;
	background: var(--white);
	border-radius: 3px;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--white);
	text-align: center;
	color: var(--dark-purple);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
}