.hover-box {
	z-index: 6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.5);
	transition: all 500ms ease-in-out;
	overflow-y: scroll;

	@media screen and (max-width: 650px) {
		align-items: unset;
	}

	&.show {
		opacity: 1;
		pointer-events: auto;
	}

	&.hide {
		opacity: 0;
		pointer-events: none;
	}

	.box {
		background: linear-gradient(to right top, #5965e3, #707ae6);
		border-radius: 3px;
		padding: 20px;
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(103, 114, 229, 0.4);
		transition: all 300ms ease-in-out;
		margin: 40px 20px;

		@media screen and (max-width: 650px) {
			width: 100%;
			height: 100%;
			margin: 0;
			display: flex;
			justify-content: center;
			overflow-y: scroll;
			padding: 20px 10px;
			display: block;
		}
		
		&.show {
			transition-delay: 200ms;
		}

		&.hide {
			opacity: 0;
			transform: translateY(100px); 
		}
	}
}