.list-item {
	background: var(--purple);
	margin: 6px 0;
	border-radius: 3px;
	padding: 0 10px;
	height: 46px;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--purple);
	cursor: pointer;
	transition: all 400ms ease-in-out;
	position: relative;

	&.selected {
		box-shadow: unset;
		border-radius: 3px 3px 0 0;
		margin-bottom: 0;
	}

	.item-interior {
		opacity: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		transition: all 300ms ease-in-out;
		margin-left: 36px;

		&.show-int {
			opacity: 1;
		}

		span {
			line-height: 46px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		:first-child,
		:nth-child(2) {
			text-align: left;
		}

		:last-child {
			text-align: right;
		}
	}

	.fixed-checkbox {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	.arrow-container {
		position: absolute;
		top: 0;
		right: 10px;
		opacity: 0;
		height: 100%;
		transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;

		&.show-arr {
			opacity: 1;
		}

		.arrow {
			width: 15px; 
			height: 15px;
			box-shadow: -3px 3px 0 white;
			transform: rotate(-45deg) translateY(-12px);
		}
	}
}