.collapse-bar {
	width: 100%;
	margin: 10px;


	.bar {
		height: 70px;
		width: 100%;
		border-radius: 3px;
		background: var(--purple);
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		.label {
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: 600;
		}

		.arrow-container {
			height: 100%;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;

			.arrow {
				width: 15px; 
				height: 15px;
				box-shadow: -3px 3px 0 white;
				transition: all 300ms ease-in-out;
				-webkit-transition: all 300ms ease-in-out;
				transform-origin: 25% 75% 0;
				transform: translate(0, -5px) rotate(-135deg);

				&.down {
					transform: translate(0, -5px) rotate(-45deg);
				}
			}
		}
	}
}