.list-group {
	position: relative;
	padding: 15px 30px;
	width: 100%;
	min-height: calc(100vh - 90px);

	.summary-panel { 
		position: fixed;
		top: 50%;
		left: 25%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;

		.buttons {
			display: flex;
			flex-direction: column;

			@media screen and (min-width: 490px) {
			    margin: 0 auto;
			}

			> * {
				margin: 10px 5px;
			}
		}
	}

	.list-panel { 
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
	.details { 
		opacity: 0;
	}
}