.sign-in-form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin: 20px auto;

	.forgot {
		text-align: right;
	}

	.column {
		display: flex;
		flex-direction: column;

		.or-span {
			text-align: center;
			display: block;
			margin: 10px 0;
		}
	}
	
	.new {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 5;
	}
}