.parallax-spring {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.card1,
	.card2,
	.card3,
	.card4 {
		position: absolute;
		border-radius: 5px;
		background-size: auto;
		background-position: center center;
		background-repeat: no-repeat;
		will-change: transform;
		opacity: 1;
		width: 35ch;
		height: 25ch;
		bottom: 0;
		animation: fade-in 600ms ease-in-out;

		@media screen and (max-width: 990px) {
			width: 25ch;
			height: 15ch;
		}
	}

	.card1,
	.card4 {
		width: 50ch;
		height: 30ch;

		@media screen and (max-width: 990px) {
			width: 40ch;
			height: 20ch;
		}
	}

	@media screen and (min-width: 500px) {
		.card1 {
			background-image: url('../../assets/1cloud.svg');
			bottom: -20px;
		}
		
		.card4 {
			background-image: url('../../assets/4cloud.svg');
			bottom: 10px;
		}
	}

	.card2 {
		background-image: url('../../assets/2cloud.svg');
	}
	.card3 {
		background-image: url('../../assets/3cloud.svg');
	}
}