.filter-selector {
	width: 100%;
	max-width: 500px;

	.default {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;

		> span {
			display: block;
			margin-right: 8px;
		}
	}

	.options {
		height: 400px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-auto-rows: min-content;
		overflow-y: scroll;
	}
}