.sign-up-form {
	width: 380px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}

	.forgot {
		text-align: right;
		margin-right: 20px;
	}

	.buttons {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
	
}