.calendar {
    display: block;
    width: 100%;

    .cal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        display: block;
        user-select: none;
        text-align: center;
    }

    .calendar-row {
        display: flex;
        width: 100%;

        &.month-display {
            align-items: center;
            height: 40px;

            .month-label { 
                flex: 1;

                :first-child {
                    color: var(--white);
                    margin: 8px 0;
                }
            }

            .arrow {
                text-align: center;
                flex-basis: 15%;
                font-weight: bold;
                cursor: pointer;
                transition: all .3s ease-in-out;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }  
        }

        &.week {
            border-top: solid 1px var(--cantoDarkGray);  

            &:first-child {
                border-top: none;
            } 

            
        }

        &.day-names {
            .day {
                display: flex;
                justify-content:center;
                align-items: center;
                cursor: default;
                font-size: 1.1rem;
                height: 35px;

                h3 {
                    color: var(--white);
                    font-size: 100%;
                }

                &:hover {
                    border: solid 1px var(--dark-purple);
                    background: inherit;
                }

                @media screen and (max-width:450px) {
                    & {
                        font-size: 0.9rem;
                    }
                }
            } 
        }

        .day {
            display: flex;
            justify-content:center;
            align-items: center;
            flex: 1;
            height: 40px;
            border: 1px solid var(--dark-purple);
            border-radius: 3px;
            cursor: pointer;
            transition: all .2s;
            overflow: hidden;
            color: var(--cantoDarkBlue);

            &:hover {
                border: 1px solid var(--purple);
            }

            &.today {
                background: var(--purple);
            }

            &.different-month {
                color: #d6d6d6;
            }

            &.selected {
                background: var(--pink);
            }

            .day-number {
                font-size: 1rem;
                display: flex;
                justify-content:center;
                align-items: center;
            }

            @media screen and (max-width:930px) and (min-width:700px) {
                & {
                    height: 60px;

                    .day-number {
                        font-size: 0.8rem;
                    }
                }
            }

            @media screen and (max-width:450px) {

                & {
                    height: 50px;

                    .day-number {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }   
}




