.expenses {
	padding: 5px 30px 15px 30px;
	width: 100%;
	height: calc(100vh - 80px);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;

	.panel {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}