.new-settings {
	width: 100%;
	height: calc(100vh - 70px);

	.item {
		width: 100%;
		height: calc(100% - 100px);
		margin: 20px 0 90px 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: inline-flex;
		text-align: center;
		vertical-align: top;
		white-space: normal;

		> * {
			margin: 0 auto;
		}

		.container {
			width: 100%;
			padding: 0 20px;
			max-width: 500px;
			text-align: left;
			display: flex;
			flex-direction: column;

			.input-group {
				padding: 20px 0;

				:last-child {
					margin: 0;
				}

				.label {
					display: block;
					margin-bottom: 10px;
				}
			}
		}
	}
	
}