@mixin stagger($item-count, $item-size) {       
  > * {
    @for $i from 1 through $item-count - 1 {
      &:nth-child(#{$i}) {
        transform: translateY(($i * $item-size) + ($i * 20px));
      }
    }
  }
}

.header {
  position: relative;
  height: 70px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  z-index: 5;

  @media screen and (max-width: 780px) {
    overflow: unset;
    padding: 10px 20px;
  }

  .logo-container {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 780px) {
      left: 20px;
    }

    a {
      margin: 0;
      display: flex;
      align-items: center;
    }

    .logo {
      height: 40px;
      width: auto;
    }
  }

  .icon-set {
    display: flex;
    transition: all 300ms ease-in-out;

    > * {
      margin: 0 10px;
    }

    @media screen and (max-width: 780px) {
      position: absolute;
      top: 0;
      right: 0;

      &.drop-in {
        @include stagger($item-count: 5, $item-size: 48px)
      }

      &.drop-out {
        > * {
          transform: translateY(0);
          box-shadow: none;

          &:last-child {
            box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--pink);
          }
        }
      }

      .icon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 20px;
        transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1);
      }

    }

    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
    padding: 10px;
    fill: var(--white);
    background-color: var(--pink);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 200ms ease-in-out;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--pink);

    &:hover {
      transform: scale(1.04);
    }
  }
}
