.header {
  position: relative;
  height: 70px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow-x: hidden;
  z-index: 5;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
  }

  .title {
    position: absolute;
    left: 40px;
    top: 0;
    
    @media screen and (max-width: 768px) {
      left: 20px;
    }
  }

  .icon-set {
    display: flex;

    .icon {
      width: 48px;
      height: 48px;
      padding: 10px;
      fill: var(--white);
      margin: 0 10px;
      background-color: var(--pink);
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      border: none;
      transition: all 200ms ease-in-out;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--pink);
    }
  }
}
