.register {
	width: 100%;
	height: calc(100vh - 100px);

	.item {
		width: 100%;
		height: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: top;

		> * {
			margin: 0 auto;
		}

		.container {
			width: 100%;
			padding: 0 20px;
			max-width: 500px;
			text-align: left;
		}

		.error {
			color: var(--purple);
			transition: all 500ms ease-in-out;
			opacity: 0;

			&.show {
				opacity: 1;
			}
		}
	}
	
}