.analytics {
	padding: 15px 30px;
	width: 100%;
	height: calc(100vh - 100px);
	display: grid;
	grid-template-areas: 
		'time summary bar bar'
		'time summary doughnut doughnut';
	grid-column-gap: 30px;

	.time { grid-area: time; }
	.summary-panel { grid-area: summary; }
	.bar { grid-area: bar; }
	.doughnut { grid-area: doughnut; }
}