.preferences {
	display: flex;
	flex-direction: column;

	.sub-group {
		margin: 20px 0;

		&:last-child {
			margin-bottom: 0;
		}

		.info-group {
			display: flex;
			
			.label {
				display: block;
				margin-bottom: 10px;
			}
			svg {
				margin: 0 8px;
				fill: var(--white);
				width: 18px;
				height: 18px;
			}
		}
		

		.target-times {
			display: flex;
			justify-content: space-between;

			& > * {
				margin: 0 10px 10px 0; 

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}