.preferences {
	display: flex;
	flex-direction: column;

	.target-times {
		display: flex;
		justify-content: space-between;

		& > * {
			margin: 0 10px 10px 0; 

			&:last-child {
				margin-right: 0;
			}
		}
	}
}