$main-color: var(--purple);
$label-color: var(--light-blue);
$input-color: var(--white);

.group {
  background-color: $main-color;
  position: relative;
  margin: 20px 20px 20px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 $main-color;

  .form-input {
    background: transparent;
    color: $input-color;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;

    &::placeholder {
      color: $input-color;
    }

    &:focus {
      outline: none;
    }

    &.form-area {
      resize: none;
      overflow: auto;
      height: 250px;
      padding: 15px 10px;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    position: relative;
    color: $label-color;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    padding: 0 10px;
    line-height: 50px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $main-color inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: $input-color;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
