:root {
	--dark-purple: #6772e5;
	--purple: #819efc;
	--pink: #ffb9f6;
	--light-blue: #c4f0ff;
	--white: #f7f9fc;
	--alert: #c6538c;
}


* {
  box-sizing: border-box;
}

html {
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #6672e4;
}

body {
	height: 100%;
	color: var(--white);
	overflow-x: hidden;
	font-family: 'Karla', sans-serif;
	letter-spacing: 1.5px;
}

h1, h2, h3 {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 4px;
	font-weight: 100;
	color: var(--pink);
}

a {
	display: block;
	color: var(--white);
	margin: 10px 0;
}

// reusable hover 
.hover {
	background: var(--dark-purple);
	border-radius: 3px;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--dark-purple);
}

