:root {
	--background: #6672e4;
	--dark-purple: #6772e5;
	--purple: #819efc;
	--pink: #ffb9f6;
	--light-blue: #c4f0ff;
	--white: #f7f9fc;
}


* {
  box-sizing: border-box;
}

html {
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--background);
}

body {
	height: 100%;
	color: var(--white);
	overflow-x: hidden;
	font-family: 'Karla', sans-serif;
	letter-spacing: 1.5px;
}

h1, h2, h3 {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 4px;
	font-weight: 100;
	color: var(--pink);
}

a {
	display: block;
	color: var(--white);
	margin: 10px 0;
}

