@mixin blockPadding() {
	display: block;

	> * {
		margin-bottom: 10vw;
	}
}

.analytics-group {
	padding: 15px 30px 30px 30px;
	width: 100%;
	display: grid;
	grid-template-areas: 
		'summary summary summary summary'
		'doughnut doughnut list list'
		'doughnut doughnut list list'
		'bar bar list list'
		'bar bar list list';
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);


	@media screen and (max-width: 780px) {
	    @include blockPadding();
	    padding: 15px 16px 20px 16px;
	}

	@media screen and (max-width: 1024px) and (min-height: 1000px) {
		@include blockPadding();
	}

	.summary-panel { 
		grid-area: summary; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		> * {
			margin: 10px 0;
		}
	}

	.chart {
		text-align: center;

		&.bar { grid-area: bar; }
		&.doughnut { grid-area: doughnut; }
	}

	.list-panel { 
		grid-area: list;
	}
}