.settings {
	width: 100%;

	.top-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.edit-group {
		display: flex;
		flex-direction: column;

		.sub-group {
			margin: 20px 0;

			&:last-child {
				margin-bottom: 0;
			}

			.label {
				display: block;
				margin-bottom: 10px;
			}

			.categories {
				margin: 20px 0;
			}
		}
	}
}