.settings {
	width: 100%;

	.top-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.edit-group {
		display: flex;
		flex-direction: column;

		.sub-group {
			margin: 20px 0;

			.label {
				display: block;
				margin-bottom: 10px;
			}

			.target-times {
				display: flex;
				justify-content: space-between;

				& > * {
					margin: 0 10px 10px 0; 

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.categories {
				margin: 20px 0;

				.cat {
					display: inline-block;
					background-color: var(--purple);
					border-radius: 3px;
					padding: 10px;
					box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 var(--purple);
					margin: 0 10px 10px 0;

					:first-child {
						margin-right: 5px;
					}

					:last-child {
						cursor: pointer;
					}
				}
			}
		}
	}
}