.settings {
	width: 100%;

	.top-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.edit-group {
		display: flex;
		flex-direction: column;

		.sub-group {
			margin: 20px 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&:last-child {
				margin-bottom: 0;
			}

			.label {
				display: block;
				margin-bottom: 10px;
				color: var(--light-blue);
				border-bottom: solid 1px var(--light-blue);
				padding-bottom: 3px;
			}

			.categories {
				margin: 20px 0;
			}
		}
	}
}