.meter {
	padding: 20px 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;

	.ring-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.percent {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 32px;
			color: #f6a4eb;
		}

		.meter-ring {
			transform: rotate(-90deg);

			.circle {
				transition: stroke-dashoffset 1000ms ease-in-out;
			}
		}
	}

	.message-group {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}