@mixin column() {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.meter {
	padding: 10px 10px 0 10px;
	display: flex;
	flex-direction: column;

	.display-panel {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 780px){
			@include column();
		}

		@media screen and (max-width: 1024px) and (min-height: 1000px) {
			@include column();
		}

		> * {
			margin: 10px 20px;

			@media screen and (max-width: 990px) {
				margin: 10px 10px;
			}
		}

		.ring-group {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: 890px) {
				font-size: 0.8em;
			}

			.percent {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin: 0;
				font-size: 400%;
				color: #f6a4eb;
			}

			.meter-ring {
				transform: rotate(-90deg);

				.circle {
					transition: stroke-dashoffset 1000ms ease-in-out;
				}
			}
		}

		.message-group {
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 890px) {
				font-size: 80%;
			}

			@media screen and (max-width: 780px) {
				align-items: center;
			}

			@media screen and (max-width: 500px) {
				font-size: 70%;
			}

			h1, h3 {
				line-height: 40px;
				margin-right: 10px;

				@media screen and (max-width: 890px) {
					margin: 8px 10px 8px 0;
				}
			}

			h3 {
				color: var(--light-blue);
			}
			
			.row {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;

				@media screen and (max-width: 780px) {
					justify-content: center;
				}
			}
		}
	}

	.button-container {
		display: flex;
		justify-content: center;
		margin: 40px 0;
	}
}